/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

div {
	display: grid;
	align-items: center;
	justify-content: center;
}

button {
	height: 2.75cm;
	width: 2.75cm;
}

td {
	text-align: center;
	color: black;
	background-color: red;
}
